.App {
  text-align: center;
}

.header {
  background-color: black;
  color: white;
  padding-top: 25px;
  padding-bottom: 25px;
  display: flex;
  flex-direction: row;
  gap: 50px;
  justify-content: center;
  align-items: center;
}

label {
  display: block;
  margin: 0 auto;
}

#datosHabitacion {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  margin-bottom: 50px;
  gap: 100px;
}