.App {
  text-align: center;
}

.header {
  background-color: black;
  color: white;
  padding-top: 25px;
  padding-bottom: 25px;
  display: flex;
  flex-direction: row;
  gap: 50px;
  justify-content: center;
  align-items: center;
}

.textoYinput {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

#datosHabitacion {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  margin-bottom: 50px;
  gap: 100px;
}

#iconosPrincipal {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 80px;
  margin-bottom: 70px;
  gap: 200px;
}

#botonesReserva {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 100px;
  gap: 100px;
}

#recibo {
  margin-top: 50px;
  margin-bottom: 100px;
}

#despedida {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

#checkIn {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  margin-bottom: 50px;
  gap: 90px;
}

.filaDe2 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#botonEditar {
  margin-bottom: 20px;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 50px;
  margin-top: 30px;
}

.ordenados {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;
  margin-bottom: 50px;
  gap: 20px;
}

#incidencias {
  width: 500px;
  height: 100px;
}